<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{{ site.title }}: {% if article %} {{ article.title }} {% else %} {{ site.subtitle }} {% endif %}</title>
	<meta name="generator" content="Mephisto" />
	{{ 'main' | stylesheet }}
	{{ site.home_section | articles_feed }}
	<style type="text/css" media="screen">
	#sidebar ul {
		background: url(/images/sidebar2b.gif) repeat-y;
	}
	#sidebar ul li {
		background: url(/images/sidebar-bottomb.gif) no-repeat bottom left;
	}
	#sidebar h2 {
		background: url(/images/sidebar-topb.gif) no-repeat;
	}
	#sidebar #search p, .widget_search div div {			
		background: url(/images/sidebar-topb.gif) no-repeat;
	}
	#calendar div {
		background: url(/images/sidebar-topb.gif) no-repeat;	
	}
	</style>
</head>

<body>
	<div id="wrapper">
	    <div id="header">
 <!--       <ul id='header_links'>
          <li><a href='http://forum.fairbanksopenradio.org'>Forum</a></li>
        </ul>-->
        <h1><a href="/">{{ site.title }}</a></h1>
        <p>{{ site.subtitle }}</p>
	    </div>

	    <div id="content">
			{{ content_for_layout }}
	    </div>

	    <div id="sidebar">
			<ul>
			
			<li id="search" class="widget widget_search">
				<form method="get" id="searchform" action="/search">
					<div><div>
					<input type="text" id="s" value="" name="q" size="15" /><br />
					<input type="submit" value="Search" />
					</div></div>
				</form>
			</li>
      {% for section in site.sections %}
        {% unless section.is_home %}
          {% if section.articles_count != 0 %}
            <li id="section_{{ section.id }}">
              <h2>{{ section | link_to_section}}</h2>
              <ul>
                {% if section.is_paged %}
                  {% for page in section.pages %}
                    <li class='page_item'>{{ page | link_to_page }}</li>
                  {% endfor %}
                {% else %}
                  {% for article in section.articles limit:5 %}
                    <li class='article_item'>{{ article | link_to_article }}</li>
                  {% endfor %}
                {% endif %}
              </ul>
            </li>
          {% endif %}
        {% endunless %}
      {% endfor %}
			
			</ul>
		</div>

		<div id="footer">
			<p>
			Original design by <a href="http://beccary.com" title="Theme designed by Becca Wei">Becca Wei</a>,
			Ported to <a href="http://mephistoblog.com/">Mephisto</a> by <a href="http://matthewbass.com/blog">Matthew Bass</a><br />
      Site designed by 
      <a href='http://dayne.broderson.org'>Dayne Broderson</a>, 
      <a href='http://www.bluewiretek.com/'>Jenn Peterson</a>, 
      and <a href='http://www.ralree.info'>Erik Gregg</a>.
			</p>
		</div>
	</div>
</body>
</html>
